.container-general__header {
  &-navigation {
    width: 1200px;
    display: flex;
  }
  &-nav-page{
    width: 337px;
    display: flex;
    justify-content: space-between;
  }
  &-input-wrapper {
    position: relative;
    width: 288px;
    display: flex;
    margin-right: 579px;
    align-items: center;
    min-height: 56px;
    background: #ffffff;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
  }
  &-check {
    width: 100%;
    height: 100%;
    padding-inline-start: 56px;
    position: relative;
    border: none;
    background: transparent;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #989ba5;
    }
  }
  &-icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  &-img-icon {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 14px;
  }
  &-turn-led {
    width: 100px;
    min-height: 52px;
    display: flex;
    align-items: center;
    padding-inline-start: 4px;
    column-gap: 4px;
    background: #ffffff;
    border-radius: 16px;
  }
  &-sun {
    width: 44px;
    min-height: 44px;
    background: #eef1ff;
    display: flex;
    align-items: center;
    background-image: url(../images/Sun.svg);
    background-position: center;
    border: 1px solid #3162ff;
    border-radius: 13px;
  }
  &-moon {
    width: 44px;
    min-height: 44px;
    background-image: url(../images/Moon.svg);
  }
  &-notification {
    width: 52px;
    min-height: 52px;
    background: #ffffff;
    border-radius: 16px;
    background-image: url(../images/Notification.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  &-user {
    width: 141px;
    min-height: 52px;
    display: flex;
    column-gap: 12px;
    align-items: center;
  }
  &-block{
    width: 77px;
  }
  &-user-box {
    width: 52px;
    min-height: 52px;
    border-radius: 12px;
    background-image: url(../images/user.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &-user-info {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #272b36;
  }
  &-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #989ba5;
  }
  &-color{
    color: #FFAD31;
  }
}
